{% set section = 'register' %}
{% extends "HealthstackBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock content %}
