{% set section = 'ticket' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Ticket creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('ticket_index') }}">Back to the list</a>
{% endblock %}
