{% set section = 'home' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

    <div class="center-text center-text2 fount-MerH2">
        <h2 class="fount-MerH2"><p> Electronic medical cards is a <span class="color-red">reality.</span>
                Monitoring and reporting of madication can help keep you <span class="color-red">healthy.</span>
        </h2>
    </div>
    <div class="center-text center-img" >
        <img src="/bundles/healthstack/images/google2.png" style="max-width: 200px;"></p></h2>
    </div>

    <div class="center-text bottom-text fount-MerH2">
        <h2><p class="fount-MerH2"><span class="color-red ">Subscribe</span> and we will notify you about each update.</p></h2>

    </div>
    <div class="input-group bottom-field ">
        <input type="text" class="form-control btnchange-input">
                  <span class="input-group-btn">
                    <button class="btn btn-default btnchange" type="button">SUBSCRIBE</button>
                  </span>
    </div>

{% endblock content %}